name: CI/CD 

on: [ workflow_dispatch, push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: create string
        run: |
          MY_STRING=$(cat << EOF
          -----BEGIN RSA PRIVATE KEY-----\nMIIJKAIBAAKCAgEAnJp/tiqnu+7SJZ2l//rHCyPy53j3ac9hkU3taiBgi6anmZPk\nLH5dwa6+7u5jmqLrEIGIEWGUtpp9Kug3inJgil7FMxhwLt05hMdazS1X3fjQeRnC\ntVFIfjyQzzCsGA8gSxcNsPWHljVzrXA+QzPtdqBod5c/KohR6l702UxrLYRfwYKW
          EOF
          )
          MY_STRING="${MY_STRING//'%'/'%25'}"
          MY_STRING="${MY_STRING//$'\n'/'%0A'}"
          MY_STRING="${MY_STRING//$'\r'/'%0D'}"
          echo "::set-output name=content::$MY_STRING"
        id: my_string
      - name: display string
        run: |
          echo "The string is: ${{ steps.my_string.outputs.content }}"

    
      # - name: my_string
      #   id: my_string
      #   run: |
      #     MY_STRING=$(-----BEGIN RSA PRIVATE KEY-----\nMIIJKAIBAAKCAgEAnJp/tiqnu+7SJZ2l//rHCyPy53j3ac9hkU3taiBgi6anmZPk\nLH5dwa6+7u5jmqLrEIGIEWGUtpp9Kug3inJgil7FMxhwLt05hMdazS1X3fjQeRnC\ntVFIfjyQzzCsGA8gSxcNsPWHljVzrXA+QzPtdqBod5c/KohR6l702UxrLYRfwYKW)
      #     MY_STRING="${MY_STRING//'%'/'%25'}"
      #     MY_STRING="${MY_STRING//$'\n'/'%0A'}"
      #     MY_STRING="${MY_STRING//$'\r'/'%0D'}"
      #     echo "::set-output name=content::$MY_STRING"
      # - name: display string
      #   run: |
      #     echo "The string is: ${{ steps.my_string.outputs.content }}"

