name: multiline

on: [workflow_dispatch, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: create string
        id: create-string
        run: |
          DATA="testing\nmultiline\nstring"
          echo -e "DATA=$DATA" >> $GITHUB_ENV
      - name: display string
        run: |
          echo -e "The string is: ${{ env.DATA }}"




# name: multiline

# on: [workflow_dispatch, push]

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - name: create string
#         id: create-string
#         run: |
#           DATA="testing
#           multiline
#           string"
#           echo "$DATA"
#           DATA="${DATA//'%'/'%25'}"
#           DATA="${DATA//$'\n'/'%0A'}"
#           DATA="${DATA//$'\r'/'%0D'}"
#           # echo "DATA=$DATA" | tee -a >> $GITHUB_OUTPUT
#           echo "::set-output name=DATA::$DATA"
#       - name: display string
#         run: |
#           echo "The string is: ${{ steps.create-string.outputs.DATA }}"
